<h1>BookmarkManager API</h1>


<p>BookmarkManager API documentation</p>

<p>Please report any type of error :)</p>

<p>You can find the routes documentation on : <a href="{{ app.request.getBaseURL() }}/doc/routes">the routes
        documentation</a>.</p>

<p>You can find the api documentation on the <a href="#">repository</a>.</p>